@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --heading: rgb(0 10 45);
  --para: #777;
  --para-tint: #e4e4e4;
  --white: #fff;
  --black: #212529;
  --helper: #8490ff;
  -helper-tint: #f3f4ff;
  --bg: rgb(249, 249, 255);
  --gradient: linear-gradient(
    0deg,
    rgb(132, 144, 255) 0%,
    rgb(98 189 252) 100%
  );
  --gradientSupport: -webkit-linear-gradient(
    0deg,
    rgb(132, 144, 255) 0%,
    rgb(98 189 252) 100%
  );
  --shadow: 0px 0px 18px 0px rgb(132 144 255 / 20%);
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* =============================
        Header and Navbar Section Starts 
================================ */

.header{
  padding: 0 4.8rem;
  height: 7rem;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo{
  height: 5rem;
}

.navbar-list{
  display: flex;
  gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited{
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  font-family: "Poppins", sans-serif;
  transition: all 0.2s linear;
}

.navbar-link:hover,
.navbar-link:active{
  color: var(--helper);
}